/* Styles for all pages */

html {
  font-size: 62.5%;
}
*, *::before, *::after {
box-sizing: border-box;
margin: 0;
padding: 0;
}
input, button, textarea, select {
font: inherit;
}
body {
line-height: 1.5;
font-family: sans-serif;
-webkit-font-smoothing: antialiased;
}
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}
#root, #__next {
isolation: isolate;
}
:root {
  --site-pink: #dc9e9c;
  --site-blue: hsl(187, 50%, 70%);
  --light-pink: hsl(358, 85%, 94%);
  --breeze: #e0f9ff;
  --site-grey: darkgrey;
	--dark-grey: #292929;
  /* var(--site-pink); */
}

/* Accessibility */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}


nav {
  width: 100%;
  background-color: var(--site-blue);
	display: flex;
}
#hamitems div {
	background-color: var(--site-grey);
	margin: 2rem;
  text-align: center;
	border-radius: 5px;
	padding: 1px 6px;
}
#hamitems {
  display: flex;
  flex-grow: 1;
}
#hamitems a {
  flex-grow: 1;
  flex-basis: 0;
  color: var(--breeze);
  font-family: sans-serif;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
}
#hamitems div:hover {
  background: #999;
}
#hamnav label, #hamburger {
  display: none;
}
/*nav a {
  padding: 0.45rem;
}*/

body {
  background-color: var(--light-pink);
}

main {
  margin: 0;
  min-height: 80vh;
  width: 100%;
  padding-top: 60px;
}

h1 {
  margin: 10rem 0 4rem 14rem;
  font-size: 5.4rem;
  color: var(--breeze);
  font-family: 'Dancing Script', cursive;
  display: inline-block;
}
h1.secondary-heading {
  margin-top: 4rem;
  background-color: var(--site-pink);
  padding: 5px 15px;
  border-radius: 10px;
  line-height: 1;
}

h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}
h2.index {
  color: var(--breeze);
}
h3 {
  font-size: 2.6rem;
  margin-top: 2.8rem;
}
p {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}
ul {
  margin: 3rem;
  font-size: 2rem;
}
li {
  margin-bottom: 1.5rem;
}
section {
  padding: 0 clamp(2.5rem, 10vw, 9rem);
}

.error-div {
  background-color: var(--site-grey);
  margin: 30px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px var(--site-grey);
  z-index: 2;
  opacity: 0.9;
  height: 65vh;
}
#error-image {
  height: 40vh;
  margin: 15px auto;
  display: block;
  border-radius: 30px;
  opacity: 0.8
}

.about {
  display: flex;
  flex-wrap: wrap;
}
.about img {
  border-radius: 15px;
  width: 100%;
}
.about div {
  width: 50%;
  padding: 30px;
}
.about p {
  background-color: var(--site-grey);
  padding: 15px;
  border-radius: 15px;
  height: 100%;
}

footer {
  width: 100%;
  height: 20vh;
  background-color: var(--dark-grey);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
footer a {
  text-align: center;
  font-size: clamp(2.3rem, 3vw, 3.3rem);
  color: var(--breeze);
  padding: 1rem;
}
footer a:hover {
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 8px;
  box-shadow: 0 0 5px 5px rgba(128, 128, 128, 0.2);
  color: white;
}
footer a:active {
  background-color: rgba(128, 128, 128, 0.4);
  box-shadow: 0 0 5px 5px rgba(128, 128, 128, 0.4);
}



@media only screen and (max-width: 1000px) {
	nav {
		display: block;
	}
	#hamitems {
		display: none;
	}
	#hamitems div{
		margin: 0 0 1px 0;
		box-shadow: none;
		padding: 1rem;
		border-radius: 0;
	}
	#hamitems div:hover {
		background-color: #999;
		box-shadow: none;
	}
	#hamitems div:active {
		background-color: #888
	}
  #hamitems a {
    display: block;
    width: 100%;
  }
	#hamnav {
		text-align: right;
	}
  #hamnav label {
    display: inline-block;
    color: var(--light-pink);
    background: var(--site-blue);
    font-style: normal;
    font-size: 2em;
    padding: 10px;
		user-select: none;
  }
	#hamnav label:hover {
		background-color: hsl(187, 50%, 77%);
	}
	#hamnav label:active {
		background-color: hsl(187, 50%, 85%);
	}
	#hamnav input:checked ~ #hamitems {
		display: block;
		transition-duration: 0.4s;
	}
  /******************************************/
  h1 {
    position: static;
    width: initial;
  }
  .card p {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 1000px) {
  h1 {
    margin-left: 3rem;
    font-size: 3.8rem;
  }
  .card p {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 500px) {
  .error-div p {
    font-size: 22px;
  }
}



@media only screen and (max-width: 670px) {
  .about {
    flex-direction: column;
  }
  .about:last-of-type {
    flex-direction: column-reverse;
  }
  .about img, .about div {
    width: 100%;
  }
}