/* Styles for all pages */

html {
  font-size: 62.5%;
}
*, *::before, *::after {
box-sizing: border-box;
margin: 0;
padding: 0;
}
input, button, textarea, select {
font: inherit;
}
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}
#root, #__next {
isolation: isolate;
}
:root {
  --site-pink: hsl(358, 85%, 82%);
  --site-blue: hsl(187, 50%, 70%);
  --light-pink: hsl(358, 85%, 92%);
  --breeze: #e0f9ff;
  --site-grey: darkgrey;
  /* var(--site-pink); */
}

/* Accessibility */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}


nav {
  background: linear-gradient(90deg, var(--site-pink) 35%, var(--site-blue) 65%);
  height: 7rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 4rem;
  position: fixed;
  top: 0;
  z-index: 9;
}
nav li {
  display: inline-block;
  padding: 0 1vw;
}
nav li a {
  display: static;
  text-decoration: none;
  font-family: sans-serif;
  color: var(--site-pink);
  font-size: 2rem;
  background-color: var(--breeze);
  padding: 1rem;
  border-radius: 50%;
  box-shadow: 0 0 4px 3px var(--breeze);
}
/* .pseudo-hero {
  height: 100vh;
  width: 100%;
  position: absolute;
} */

h1 {
  margin-top: 14rem;
  margin-left: 14rem;
  font-size: 5.4rem;
  color: var(--breeze);
  font-family: 'Dancing Script', cursive;
  position: sticky;
  top: 0;
  z-index: 10;
  display: inline-block;
}

h2, h3, p {
  text-align: center;
  font-size: 3rem;
  color: var(--breeze);
}

ul {
  margin: 3rem;
  font-size: 2rem;
}

@media only screen and (max-width: 670px) {
  nav {
    height: 3.4rem;
  }
  h1 {
    position: static;
    width: initial;
  }
  .card p {
    font-size: 1.3rem;
  }
  footer a {
    font-size: clamp(2.6rem, 5vw, 6rem);
  }
}

@media only screen and (max-width: 1000px) {
  nav {
    padding-right: 0.5rem;
    height: 5.2rem;
    background: none;
    background-color: var(--site-blue);
  }
  nav li {
    padding: 0 0.5rem;
  }
  h1 {
    margin-left: 3rem;
    font-size: 3.8rem;
  }
  .card p {
    font-size: 2.2rem;
  }
}


footer {
  width: 100%;
  height: 20vh;
  background-color: #292929;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
footer a {
  text-align: center;
  font-size: 2.6rem;
  color: var(--breeze);
  padding: 1rem;
}
footer a:hover {
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 8px;
  box-shadow: 0 0 5px 5px rgba(128, 128, 128, 0.2);
  color: white;
}
footer a:active {
  background-color: rgba(128, 128, 128, 0.4);
  box-shadow: 0 0 5px 5px rgba(128, 128, 128, 0.4);
}

