/* Styles for all pages */

html {
  font-size: 62.5%;
}
*, *::before, *::after {
box-sizing: border-box;
margin: 0;
padding: 0;
}
input, button, textarea, select {
font: inherit;
}
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}
#root, #__next {
isolation: isolate;
}
:root {
  --site-pink: hsl(358, 85%, 82%);
  --site-blue: hsl(187, 50%, 70%);
  --light-pink: hsl(358, 85%, 92%);
  --breeze: #e0f9ff;
  --site-grey: darkgrey;
	--dark-grey: #292929;
  /* var(--site-pink); */
}

/* Accessibility */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}


nav {
  width: 100%;
  background: linear-gradient(90deg, var(--site-pink) 35%, var(--site-blue) 65%);
	display: flex;
}
#hamitems div {
	background-color: var(--site-grey);
	margin: 2rem;
  text-align: center;
	border-radius: 5px;
	padding: 1px 6px;
}
#hamitems {
  display: flex;
	flex-grow: 1;
}
#hamitems a {
  flex-grow: 1;
  flex-basis: 0;
  color: var(--breeze);
  font-family: sans-serif;
  border-radius: 30%;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
}
#hamitems div:hover {
  background: #999;
	box-shadow: 0 0 5px 5px #999;
}
nav label:hover {
	background: red;
}
#hamnav label, #hamburger {
  display: none;
}
/*nav a {
  padding: 0.45rem;
}*/

/******************************************/
/* .pseudo-hero {
  height: 100vh;
  width: 100%;
  position: absolute;
} */

h1 {
  margin-top: 14rem;
  margin-left: 14rem;
  font-size: 5.4rem;
  color: var(--breeze);
  font-family: 'Dancing Script', cursive;
  position: sticky;
  top: 0;
  z-index: 10;
  display: inline-block;
}

h2, h3, p {
  text-align: center;
  font-size: 3rem;
  color: var(--breeze);
}

ul {
  margin: 3rem;
  font-size: 2rem;
}


footer {
  width: 100%;
  height: 20vh;
  background-color: var(--dark-grey);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
footer a {
  text-align: center;
  font-size: clamp(2rem, 3vw, 4rem);
  color: var(--breeze);
  padding: 1rem;
}
footer a:hover {
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 8px;
  box-shadow: 0 0 5px 5px rgba(128, 128, 128, 0.2);
  color: white;
}
footer a:active {
  background-color: rgba(128, 128, 128, 0.4);
  box-shadow: 0 0 5px 5px rgba(128, 128, 128, 0.4);
}



@media only screen and (max-width: 768px) {
	nav {
		display: block;
	}
	#hamitems {
		display: none;
	}
	#hamitems div{
		margin: 0 0 1px 0;
		box-shadow: none;
		padding: 1rem;
		border-radius: 0;
	}
	#hamitems div:hover {
		background-color: #999;
		box-shadow: none;
	}
	#hamitems div:active {
		background-color: #888
	}
  #hamitems a {
    display: block;
    width: 100%;
  }
	#hamnav {
		text-align: right;
	}
  #hamnav label {
    display: inline-block;
    color: var(--light-pink);
    background: var(--site-blue);
    font-style: normal;
    font-size: 2em;
    padding: 10px;
		user-select: none;
  }
	#hamnav label:hover {
		background-color: hsl(187, 50%, 77%);
	}
	#hamnav label:active {
		background-color: hsl(187, 50%, 85%);
	}
	#hamnav input:checked ~ #hamitems {
		display: block;
		transition-duration: 0.4s;
	}
  /******************************************/
  h1 {
    position: static;
    width: initial;
  }
  .card p {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 1000px) {
  h1 {
    margin-left: 3rem;
    font-size: 3.8rem;
  }
  .card p {
    font-size: 2.2rem;
  }
}
